# Environment Files
.env
.env.backup
.env.production
auth.json

# Log and Debug Files
*.log
npm-debug.log
yarn-error.log
Thumbs.db
.DS_Store
.phpunit.result.cache
.phpunit.cache

# IDE & Editor Settings
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Node & Vendor
/node_modules
/vendor

# Laravel & Build Artifacts
/public/build
/public/hot
/public/storage
/public/admin
/public/dist
/public/uploads
/build
/dist
/storage/*.key
/storage/pail
/public/wp-content
/public/index.php
# Laravel & Dev Tools
.phpactor.json
Homestead.json
Homestead.yaml
*.zip
*.tar.gz
*.bak
*.tmp
*.lock
*.lock.json
*.lock.json.
