name: Deploy to Shared Hosting via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_DAILYURD_USERNAME }}
          key: ${{ secrets.SSH_DAILYURD_PRIVATE }}
          port: 65002
          source: "./"
          target: "/home/u803331128/domains/dailyurdu.net/dailyurdu"

      - name: Copy build to dev.dailyurdu.net and clean up
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_DAILYURD_USERNAME }}
          key: ${{ secrets.SSH_DAILYURD_PRIVATE }}
          port: 65002
          script: |
            cd /home/u803331128/domains/dailyurdu.net/dailyurdu
            php artisan optimize:clear
            php artisan optimize
